kc_title{
    color: #ffae0d;
    font-family: PT Serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}