@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:ital@1&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.login{
    --bg-color:#ede9f8;
    --color-primary:#2d3436;
    --color-secondary:#252c6a;
    --border-radius:4px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
 

    background-image: url("https://img.freepik.com/free-vector/silhouette-female-yoga-pose-tropical-landscape_1048-6079.jpg?w=996&t=st=1707893193~exp=1707893793~hmac=eb6f77e5120bbb44def23f62b3d8016cf0a031227ea0472e3e5341e4613f85b7");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
    
    

.class1{

    background-image: url("");
}

.container{
    margin-top: 100px;
    width:800px;
    max-width:400px;
    margin-left: 500px;
    margin:1rem;
    padding:2rem;
    border-radius: var(--border-radius);
    background: white;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top:0;
}

.form >*:last-child{
    margin-bottom:0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display:block;
    width:100%;
    padding:0.75rem;
    box-sizing:border-box;
    border-radius: var(--border-radius);
    border:1px solid #ddd;
    outline:none;
    background: #eee;
    transition: background 0.2s border-color 0.2s;
}
.new1{
    
        margin-bottom: 2rem;
        color:#2d3436;
        font-weight: bolder;
}

.form__input:focus{
    border-color:var(--color-primary);
    background: #fff;
}

.form__button{
    width: 50%;
    /* padding: 1rem 2rem; */
    font-weight: bold;

    color: #fff;
    border:none;
    border-radius: var(--border-radius);
    outline:none;
    cursor: pointer;
    background: var(--color-primary);
    -webkit-user-select: none;
    padding: 0.7rem;
}

.form__button:active{
    transform: scale(0.98);
}

.padding{
    padding-bottom:10px;
}